# CAP 5610 - Introduction to Machine Learning <br>Florida International University - Fall 2018
## Example Set #3 - Logistic Regression

Here, we're using sklearn's [make_classification](http://scikit-learn.org/stable/modules/generated/sklearn.datasets.make_classification.html#sklearn.datasets.make_classification) function to generate a classification dataset that will be used to solve the problems below.

In [6]:
import numpy as np
from matplotlib import pyplot as plt
from sklearn import linear_model, datasets

# number of samples to generate
n_samples = 1000
n_classes = 2

# generate the dataset
X, y = datasets.make_classification(n_samples, n_classes, n_informative=2, n_redundant=0)

# how can we visualize the dataset?

### Problem 1 - Logistic Regression with gradient ascent

Develop a logistic regression model and train it using gradient ascent with the generated dataset.

### Problem 2 - Logistic Regression with Newton's method
Based on your work from problem 1, train a logistic classifier with Newton's method with the same generated dataset and compare the result.

### Problem 3 - Naive Bayes Classification
Consider the following dataset:

In [1]:
import pandas as pd
data = pd.DataFrame()

# Target labels
data['gender'] = ['male','male','male','male','female','female','female','female']

# features
data['height'] = [6,5.92,5.58,5.92,5,5.5,5.42,5.75]
data['weight'] = [180,190,170,165,100,150,130,150]
data['shoe size'] = [12,11,12,10,6,8,7,9]

data

   Gender  Height  Weight  Foot_Size
0    male    6.00     180         12
1    male    5.92     190         11
2    male    5.58     170         12
3    male    5.92     165         10
4  female    5.00     100          6
5  female    5.50     150          8
6  female    5.42     130          7
7  female    5.75     150          9

Given this dataset, implement the naive bayes classification algorithm and use it classify the following person as either a male or female:

In [2]:
person = pd.DataFrame()

# unknow person's features
person['height'] = [6]
person['weight'] = [130]
person['shoe size'] = [8]

person

   height  weight  shoe size
0       6     130          8